@using TripPlanner.Models

@model BasicInfo

<h1 style="text-align:center">Restaurants in @Model.CityState.city</h1>
<br />
<table style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Rating</th>
        </tr>

    </thead>
    @foreach (var attraction in Model.Attractions.results)
    {
        <tr>
            <td><a href="/Trips/Details?id=@attraction.place_id">@attraction.name</a></td>
            <td>@attraction.vicinity</td>
            <td>@attraction.rating</td>

        </tr>
    }
</table>
