<h1 style="text-align:center">Error</h1>
<br />
<br />
<h3>Please go back and enter a 5 digit zip code OR a city and state. </h3>

<br />
<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>