@using TripPlanner.Models

@model BasicInfo

<h1 style="text-align:center">Restaurants in @Model.CityState.city</h1>
<br />
<table style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Rating</th>
        </tr>

    </thead>
    @foreach (var lodging in Model.Lodging.results)
    {
        <tr>
            <td><a href="/Trips/Details?id=@lodging.place_id">@lodging.name</a></td>
            <td>@lodging.vicinity</td>
            <td>@lodging.rating</td>

        </tr>
    }
</table>
<button onclick="location.href='/Trips/GetMoreResults?token=@Model.Places.next_page_token'">Next Page</button>