@using TripPlanner.Models

@model BasicInfo

<h1 style="text-align:center">Restaurants in @Model.CityState.city</h1>
<br />
<table style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Rating</th>
        </tr>

    </thead>
    @foreach(var restaurant in Model.Restaurants.results)
    {
        <tr>
            <td><a href="/Trips/RestaurantDetails?id=@restaurant.place_id">@restaurant.name</a></td>
            <td>@restaurant.vicinity</td>
            <td>@restaurant.rating</td>
           
        </tr>
    }
</table>